#gallery {
  display: flex; /* use flexbox */
  flex-direction: row; /* this is the default*/
  /* flex-wrap: nowrap;  this is the default*/
  flex-wrap: wrap; /* this is the default*/
}

.image {
  width: 250px;
  height: 250px;
  background-color: lightblue;
  border: 1px solid white;
  /* box-sizing: 33.333% or use "content";  This will include the wholte box - including borders etc */
  flex: 33%; /* fit each element to 33% of the screen ...the border etc could push this over a row*/
}

.large {
  flex: 66%; /* Make these boxes twice as wide as the others */
  /* height: 500px; our flex direction is row, therefore this is required to increase the height too */
}

.first {
  /* Add somtheing here to make this box appear first */
  order: -1; /* Everything else has order number 0 */
}

.last {
  /* Add somtheing here to make this box appear last */
  order: 1; /* Everything else has order number 0 */
}
