#gallery {
  display: flex; /* use flexbox */
  flex-direction: row; /* this is the default*/
  /* flex-wrap: nowrap;  this is the default*/
  flex-wrap: wrap; /* this is the default*/
}

.image {
  width: 250px;
  height: 250px;
  background-color: lightblue;
  border: 1px solid white;
}

.large {

}

.first {

}

.last {

}
